<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">

        <div class="navbar-header">

            <a class="navbar-brand" href="#">
                <span></span>
                Shourt Url
            </a>

            <ul class="nav navbar-nav">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
                <li>
                    <a href="/contact">Contact Us</a>
                </li>
                <li>
                    <% if (user && user.firstName) { %>
                        <strong for="logged_user">
                            Welcome,
                            <%= user.firstName %>
                                <%= user.lastName %>
                        </strong>
                        <% } %>
                </li>
                <li>
                    <a href="/#" onclick="return logoutClick();">logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>