<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Welcome to short url home page</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.5/lodash.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/joi-browser@13.0.1/dist/joi-browser.min.js"></script>
<script src="./utility/apihelper.js"></script>
<script src="./js/login.js"></script>
<style>
    body {
        padding-top: 50px;
    }
</style>