<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
        
</head>

<body class="container">

    <header>
        <% include ../partials/header %>
    </header>
    <main>

        <div class="jumbotron">
            <div class="row">
                <div class="col-lg-6 col-md-offset-3">
                    <h3>Welcome to shourt url </h3>
                    <form method="post" action="/">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div class="form-group">
                                    <label for="long_url">Paste Your Long Url Here: </label>
                                    <input type="text" id="long_url" class="form-control" name="long_url" placeholder="Paste your long url">
                                </div>
                                <button type="submit" class="btn btn-success">Create</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <% include ../partials/footer %>
    </footer>

</body>

</html>